<!-- Toolbar -->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]='opened'>
    <div class="content">
      <div class="header">
        <h2>SideNav</h2>
      </div>
    </div>
  </mat-sidenav>
  
  <mat-sidenav-content>

    <div class="toolbar" role="banner">
      <fa-icon [icon]="faBuilding"></fa-icon>
      <span>Collocation</span>
      <div class="spacer"></div>
      <fa-icon [icon]="faBars" (click)=sidenav.toggle()></fa-icon>
    </div>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>