<!-- Toolbar -->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <div class="header">
      <h2>Navigation</h2>
    </div>
    <div class="content">
      <h3>
        <a routerLink="/flats" (click)="sidenav.toggle()"
          ><fa-icon [icon]="faBuilding"></fa-icon>Appartements</a
        >
      </h3>
      <h3>
        <a routerLink="/schedule" (click)="sidenav.toggle()"
          ><fa-icon [icon]="faCalendarAlt"></fa-icon>Calendrier</a
        >
      </h3>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="toolbar" role="banner">
      <fa-icon [icon]="faUsers"></fa-icon>
      <span>Collocation</span>
      <div class="spacer"></div>
      <a routerLinkActive="active" routerLink="auth/signup" *ngIf="!isAuth">
        <fa-icon [icon]="faUserPlus"></fa-icon>
      </a>
      <a routerLinkActive="active" routerLink="auth/signin" *ngIf="!isAuth">
        <fa-icon [icon]="faSignInAlt"></fa-icon>
      </a>
      <a (click)="onSignOut()" style="cursor:pointer" *ngIf="isAuth">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
      </a>
      <a (click)="sidenav.toggle()" *ngIf="isAuth">
        <fa-icon [icon]="faBars"></fa-icon>
      </a>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
